* {
  box-sizing: border-box;
}

body {
  background-color: rgb(55, 55, 55);
  color: aliceblue;
}
h1 {
  text-align: center;
}

.you {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.others {
  padding: 0.5rem;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: right;
}

.text-format {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div[class="you text-format"] {
  align-items: flex-start;
}

.chat-body {
  overflow-y: scroll;
  max-height: 30rem;
}
